.allCards {}

.oneCard {

    margin-bottom: 85px;
    background: rgba(196, 196, 196, 0.2);
}

.naming {
    padding-left: 55px;
    padding-top: 40px;

}

.naming h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 173.9%;
    /* or 75px */

    letter-spacing: -0.02em;

    color: #3E4671;
    margin: 0px !important;
}

.naming p {

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 173.9%;
    /* or 49px */

    letter-spacing: -0.02em;

    color: #000000;
}

.cardIm {

}

.buttonOrder {
    margin-bottom: 85px;
    width: 282px;
    height: 84px;
    margin-left: 15px;


    background: #3E4671;
    border-radius: 91px;
    border:0px !important;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 173.9%;
    /* or 59px */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.buttonOrder2 {
    margin-top: 30px;
    width: 200px;
    height: 64px;


    background: #3E4671;
    border-radius: 91px;
    border:0px !important;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 173.9%;
    /* or 59px */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}